*{
    padding:0;
    margin:0;
}


button {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.home {
    height:100vh;
    background-image : url(../img/background1.jpg);
    background-size:cover;
    position:relative;

}
.over{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color:rgba(0,0,0,0.7);
}
p{
    text-transform:lowercase;
    margin:10px;
    padding:10px;
    letter-spacing:1px;
    line-height:25px;
}
.home-content{
    
    position:absolute;
    color:white;
    top:50%;
    left:50%;
    width:50%;
    transform: translate(-50%,-50%);
    text-align:center;
    text-transform:uppercase;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}
.butt1 {
    width:160px;
    padding:15px;
    border-radius:10px;
    border:0;
    cursor:pointer;
    font-size:20px;
    background-color:white;
}
.butt2 {
    width:160px;
    padding:15px;
    border-radius:10px;
    border:0;
    cursor:pointer;
    font-size:20px;
    background-color:rgb(138, 169, 246);
}
.hover-opacity{
    transition: opacity .5s;
}
.hover-opacity:hover{
    opacity: 0.8s;
}
img{
    
    float:left;
    position:absolute;
    margin-left:200px;
}
ul li{
    color:white;
    list-style:none;
    display:inline;
    float:left;
    
    padding:10px;
    margin:20px;
    text-align:center;
    font-size:20px;
    cursor:pointer;

    
}
ul{
    margin-left:650px;
}
li a:after {
    content:"";
    width:0;
    margin-top:5px;
    height:5px;
    display:block;
    transition:.5s;
    background-color:azure;

}
li a:hover:after{
    width:100%;
}
a {
    text-decoration:none;
    color:white;
    
}
.section-header{
    text-align : center;
    margin-bottom:50px;
    margin-top:50px;

}
.section-header .section-title{
    font-size:35px;
    text-transform:capitalize;
    margin-bottom:10px;
}
.section-header .line{
    display:block;
    width:70px;
    height:5px;
    background-color:blue;
    margin: 0 auto 70px auto;

}
.pd-y{
    padding:120px 0;
}
.box{
    text-align:center;
    margin:0 20px 0 20px;
    width:300px;
    float:left;
    padding:0 5px 0 5px;
    border:rgb(131, 142, 136) solid;
    height:250px;

}
.con {
    /* display:inline; */
    width:80%px;
    height:300px;
    margin-left:230px;
    
    /* margin:auto; */
    
}
.sp{
    /* display:block; */
    text-align:center;
    width:100%;

}
.hh{
    text-align:center;
}

.clear{
    clear:both;
}
.box .icon{
    color:blue;
    margin-bottom:10px;
}
.sp {
    text-transform:capitalize;
    
    line-height:1.6;
    margin:50px 0 50px 0;
    
}
.hh {
    
}
.link {
    /* margin-top:1px; */
    /* z-index:999; */
    color:rgb(10, 10, 197);
    text-transform:capitalize;
    font-size:25px;
    display:block;
    margin:20px;

    
}
.eft{
    position:relative;
    
}
.eft:after{
    
    position:absolute;
    content:"";
    /* display:inline-block; */
    width:0%;
    height:100%;
    top:0;
    left:0;
    transition: width 0.7s;
    z-index:-1;
    background-color:rgb(11, 11, 11);
    }
.eft:hover:after{
width:100%;
opacity:0.2;
}
.box:hover {
    color:rgb(164, 163, 163);
}

.cp{
    /* position:relative; */
    /* width:10%;
    height:100%; */
    display:block;
    /* margin:0 20px 20px 300px; */
    background-color:blue;
    /* padding:50px 50px 50px 50px; */
    float:left;
    padding:50px;

}

.pic1{
  /* position:absolute; */
    width:15%;  
 display:inline; 
 margin: 0 20px 20px 300px;
 
    
}


.pic2{
    width:15%;  
 display:inline; 
 margin:0 20px 20px 600px;
}
.pic3{
    width:15%;  
 display:inline; 
 margin:0 20px 20px 900px;
}
.pic4{
    /* margin-top:1500px; */
    width:15%;  
 display:block; 
 margin:300px 20px 20px 300px;
}
.pic5{
    /* margin-top:1500px; */
    width:15%;  
 display:block; 
 margin:300px 20px 20px 600px;
}
.pic6{
    /* margin-top:1500px; */
    width:15%;  
 display:block; 
 margin:300px 20px 20px 900px;
}
